extends ../__shared/layout
block content
  .x-container.d-flex.justify-content-center.align-items-center
    = 'Hello, this is a template'
block styles
  link(rel='stylesheet' href='/assets/modules/home.min.css?v=100')
block scripts
  script(src='/assets/modules/home.min.js?v=100' defer)
